<%- include("header")-%>

<body>
    

    <table class="table table-striped">
        <thead>
          <h2 style="text-align: center; font-size: 1.95rem; font-weight: 700;">CodeForces</h2>
          <tr>
            <th scope="col">No.</th>
            <th scope="col">Name</th>
            <th scope="col">Start Time</th>
            <th scope="col">End Time</th>
            <th scope="col">Duration (mins)</th>
            <th scope="col">Link</th>
         
          </tr>
        </thead>
        <tr> 
            <%var k=0%>
            <% for(var i=0;i<arr.length;i++){ %>
                <% if(arr[i].host=='codeforces.com'){  %>
              <% k++ %>
              <th scope="row"><%=k%></th>
              <td><%=arr[i].event %></td>
              <td><%=arr[i].start %></td>
              <td><%=arr[i].end %></td>
              <td><%=arr[i].duration%></td>
              <td><a href=<%=arr[i].href%>><%=arr[i].host %></a></td>
        </tr>
            <% } %>
            <% } %>
          

        </tbody>
    </table>
</body>
<%- include("footer")-%>
