<!DOCTYPE html>
<%- include("header")-%>



<body>

            
               <!-- <table class="table table-striped table-responsive table-hover">
                <thead>
                    <h2 style="text-align: center; font-size: 2.5 rem; font-weight: 700;">LIVE!!</h2>
                    <br>
                    <tr>
                        <th scope="col">No.</th>
                        <th scope="col">event</th>
                        <th scope="col">Start Time</th>
                        <th scope="col">End Time</th>
                        <th scope="col">Duration (hrs:mins:secs)</th>
                        <th scope="col">Link</th>
                        <th scope="col">STATUS</th>
                      </tr>
                </thead>
                <tr> 
                    <%var k=0%>
                    <% for(var i=0;i<arr.length;i++){ %>
                        <% if((arr[i].host=='codeforces.com' || arr[i].host=='CodeChef' || arr[i].host=='leetcode.com' || arr[i].host=='AtCoder' ||arr[i].host=='HackerRank' ||arr[i].host=='TopCoder') && (arr[i].status=='CODING')){  %>
                      <% k++ %>
       <!-- calc duration -->
                    <!-- <%  const totalMinutes = Math.floor(arr[i].duration / 60);%>

                    <%const seconds = arr[i].duration % 60;%>
                   <%const hours = Math.floor(totalMinutes / 60);%>
                 <% const minutes = totalMinutes % 60;%>
                    <th scope="row"><%=k%></th>
                    <td><%=arr[i].event %></td>
                    <td><%=arr[i].start %></td>
                    <td><%=arr[i].end %></td>
                    <td><%=hours%>:<%=minutes%>:<%=seconds%>0</td>
                    <td><a href=<%=arr[i].href%>><%=arr[i].host %></a></td>
                    <td><%=arr[i].status%></td>
                </tr>
                    <% } %>
                    <% } %>
                  
        
                </tbody>
            </table>
           <br> -->
           
           <br>
            <h2 style="text-align: center; font-size: 1.95rem; font-weight: 700;"><u>UPCOMING</u></h2>
          <br>  


    <table class="table table-striped table-responsive table-hover">
        <thead>
       
            <tr>
                <th scope="col">No.</th>
                <th scope="col">event</th>
                <th scope="col">Start Time</th>
                <th scope="col">End Time</th>
                <th scope="col">Duration (hrs:mins:secs)</th>
                <th scope="col">Link</th>
                
              </tr>
        </thead>
        <tr> 
            <%var k=0%>
            <% for(var i=0;i<arr.length;i++){ %>
                <% if((arr[i].host=='codeforces.com' || arr[i].host=='codechef.com' || arr[i].host=='leetcode.com' || arr[i].host=='atcoder.jp' ||arr[i].host=='hackerrank.com')){  %>
              <% k++ %>
              <!-- calc duration -->
              <!-- <%  const totalMinutes = Math.floor(arr[i].duration / 60);%>

              <%const seconds = arr[i].duration % 60;%>
             <%const hours = Math.floor(totalMinutes / 60);%>
           <% const minutes = totalMinutes % 60;%> -->
           
            <th scope="row"><%=k%></th>
            <td><%=arr[i].event %></td>
            <td><%=arr[i].start %></td>
            <td><%=arr[i].end %></td>
            <td><%=arr[i].duration%></td>
            <td><a href=<%=arr[i].href%>><%=arr[i].host %></a></td>
        
        </tr>
            <% } %>
            <% } %>
          

        </tbody>
    </table>
      <%if(k==0){%>
        <h1>No upcoming contests</h1>
      <%}%>
</body>

</html>

<%- include("footer")-%>